body {
	background-color: #22313F;
}
h1 {
	font-weight: 500;
	font-size: 24px;
	color: #19B5FE;
}
.hider {
	height: 150px;
	width: 500px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	/*overflow: hidden;*/
}
.indicator p {
	color: #336E7B;
	text-align: right;
	margin: 12px -5px 0 0;
}
.checkColor{
  color: white;
  padding: 0 15px 0 15px;
}
.centerCheck{
  text-align: center;
}
.description{
  color: ghostwhite;
  font-weight: lighter;
}
.progress-bar {
	height: 5px;
	background-color: #00B16A;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left:-100%;
}

.nextButton {
	width: 60px;
	height: 60px;
	background-color: #19B5FE;
	border-radius: 10px;
	color: white;
	font-size: 28px;
	padding-left: 15px;
}

.nextButton:hover {
	color: white;
	background-color: transparent;
	border: 3px solid #19B5FE;
}
